@model Ecommerce.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="form-box">
    <div id="btn"></div>
    <button type="button" class="toggle-btn" onclick="login()">Sign In</button>

    <!-- Login Form -->
    <form id="login" class="input-group" asp-controller="Account" asp-action="Login" method="post">
        <div>
            <input asp-for="EmailAddress" class="input-feild" placeholder="Email Id" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="Password" class="input-feild" type="password" placeholder="Enter Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="remember-me" name="remember-me" />
            <label for="remember-me">Remember Password</label>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="submit-btn">Sign In</button>
    </form>

</div>

<script>
    var x = document.getElementById("login");
    var z = document.getElementById("btn");

</script>

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .h1, h1 {
        text-align: center;
    }

    .form-box {
        width: 360px;
        height: 380px;
        position: relative;
        margin: 6.7% auto;
        background: white;
        padding: 5px;
        overflow: hidden;
        border-radius: 25px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .button-box {
        width: 220px;
        margin: 35px auto;
        position: relative;
        border-radius: 30px;
    }

    .toggle-btn {
        padding: 10px 20px;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
        margin-left: 125px;
        top: 25px;
    }

    #btn {
        top: 30px;
        left: 45px;
        position: absolute;
        width: 110px;
        height: 40px;
        background: linear-gradient(to right, #ffffff, #c7c2ba);
        border-radius: 30px;
        transition: .5s;
        margin-left: 70px;
    }

    .input-group {
        top: 100px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }

    .input-feild {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }

    .input-label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .submit-btn {
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right, #ffffff, #c7c2ba);
        border: 0;
        outline: none;
        border-radius: 30px;
        margin-top: 20px;
    }

    .checkbox-container {
        margin: 30px 10px 30px 0;
    }

    .error-message {
        color: red;
        display: none;
        font-size: 14px;
        margin-top: 10px;
    }

    span {
        color: #777;
        font-size: 12px;
        bottom: 68px;
        position: absolute;
    }

    #login {
        left: 50px;
    }

    #register {
        left: 450px;
    }
</style>