@*{
    ViewData["Title"] = "Home Page";
}*@

<div class="text-center">
    <h1 class="display-4">Welcome to Cyber Shopper!</h1>
    <h4>Our most popular products</h4>
</div>

@{
    var popular = ViewBag.PopularProducts as IEnumerable<Ecommerce.Models.Product>;
}

@if (popular != null && popular.Any())
{
    <div class="row pb-3">
        @foreach (var item in popular)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <strong> @item.ModelName</strong>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No popular products found.</p>
}
