@* @model Ecommerce.Models.Customer

<form asp-controller="Home" asp-action="Register" method="post">
    <div>
        <label for="CustomerId">Customer ID</label>
        <input type="text" id="CustomerId" name="CustomerId" asp-for="CustomerId" />
    </div> 
    <div>
        <label for="FullName">Full Name</label>
        <input type="text"  name="FullName" asp-for="FullName" />
    </div>
    <div>
        <label for="EmailAddress">Email Address</label>
        <input type="email"  name="EmailAddress" asp-for="EmailAddress" />
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password"  name="Password" asp-for="Password" />
    </div>
    <div>
        <label for="DeliveryAddress">Delivery Address</label>
        <input type="text"  name="DeliveryAddress" asp-for="DeliveryAddress" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div> 
    <button type="submit" class="btn btn-primary">Submit</button>
   
</form>

 *@
 @model Ecommerce.Models.Customer
<form asp-controller="Home" asp-action="Register" method="post">
    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DeliveryAddress"></label>
        <input asp-for="DeliveryAddress" class="form-control" />
        <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
